body{
    background-color: #a1d9e3;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#container{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: #ffffff;
    border-right: solid 2px #da650c;
    border-left: solid 2px #da650c;
}
/*TEXT TAG STYLES*/
h1{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 76px;
    color: #241e4d;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    font-weight: normal;
    margin-top: 0px;
    font-size: 26px;
}
h3{
    margin-top: 0px;
    font-size: 26px;
    color: #241e4d;
    font-weight: bold;
}
p{
    font-size: 16px;
    color: #241e4d;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
/*MENU STYLES*/
#menu{
    width: 107px;
    float: left;
}
#menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#menu li{
    background-color: #a1d9e3;
    border: 1px solid #da650c;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
}
#menu a:link, #menu a:visited{
    color: #03c;
    font-weight: bold;
    text-decoration: none;
}
#menu a:hover, #menu a:active{
    color: #900;
    text-decoration: underline;
}
/*MAIN SECTION*/
#main{
    margin-left: 190px;
}
#main h3{
    color: #241e4d;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 24px;
}
#main p{
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#main a:link, #main a:visited{
    color: #900;
    text-decoration: underline;
}
#main a:hover, #main a:active{
    color: #03c;
}
/*FOOTER SECTION*/
#footer{
    background-color: #a1d9e3;
    margin-top: 20px;
    clear: both; /*MAKES THE FOOTER ALWAYS SIT UNDERNEATH THE MENU AND IMAGE*/
}
#footer p{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    color: #FFF;
    text-align: center;
}
#footer a:link, #footer a:visited{
    color: #03c;
    text-decoration: underline;
}
#footer a:hover, #footer a:active{
    color: #000;
}
/*LINK STYLES*/
a:link, a:visited{
    color: #060;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active{
    color: #900;
    text-decoration: underline;
}
/*CLASS STYLES*/
.rightfloat{
    border: 2px solid #060;
    margin: 8px;
    float: right;
}